title= title
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='https://browserid.org/include.js', type='text/javascript')
script(src='../javascripts/main.js')
