extends layout

block dashboard_header
  link(rel='stylesheet', href='/stylesheets/lib/icongrid.css')

block content
  h1= gettext('Apps')
  .container#dashboard
    #apps.dashboardclipper
      .dashboard
        #help
          !{format(gettext('You have no apps installed. Apps are available in the <a %s>Marketplace</a>'), [' href="https://apps.mozillalabs.com/appdir/" target="_blank"'])}
