/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main Styles */
body {
    background-color: #fff;
    background-image: url('../../images/wallpaper.png');
    background-repeat: repeat;
    color: #424f5a;
    float: left;
    font-family: 'Open Sans',"Lucida Sans","Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    width: 100%;
}

a {
    color: #3b9bda;
    text-decoration: none;
}

#tabzilla {
    outline: none;
}

#outer-wrapper {
    border-top: 2px solid #fff;
    width: 100%;
}

#wrapper {
    background-image: linear-gradient(bottom, #c1c7cb 10%, #dce1e3 59%);
    background-image: -o-linear-gradient(bottom, #c1c7cb 10%, #dce1e3 59%);
    background-image: -moz-linear-gradient(bottom, #c1c7cb 10%, #dce1e3 59%);
    background-image: -webkit-linear-gradient(bottom, #c1c7cb 10%, #dce1e3 59%);
    background-image: -ms-linear-gradient(bottom, #c1c7cb 10%, #dce1e3 59%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.10, #c1c7cb),
        color-stop(0.59, #dce1e3)
    );
    padding-bottom: 100px;
}

.wrapper-container {
    display: block;
    margin: 0 auto;
    min-height: 400px;
    position: relative;
    width: 960px;
}

#masthead {
    display: block;
    margin: 0 auto;
    padding: 0px 48px 0px 48px;
    position: relative;
    width: 896px;
}

#nav-main {
    float: right;
    font-size: 13px;
    margin-right: 16px;
    text-transform: uppercase;
}

#nav-main ol li {
    float: left;
}

#nav-main ol li a {
    color: #484848;
    display: inline-block;
    outline: none;
    padding: 12px;
}

h1 {
    clear: both;
    color: #424f5a;
    font-size: 72px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 100%;
    padding: 40px 0px 30px 0px;
    text-align: center;
    width: 100%;
}

.pageindicator img {
    cursor: pointer;
}

/* Footer styles */

#colophon {
    display: block;
    color: #bbb;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    padding: 48px 0px;
    position: relative;
    width: 896px;
}

#colophon .row {
    margin-left: -24px;
}

#colophon .span2 {
    float: left;
    width: 160px;
}

#colophon .span3 {
    float: left;
    margin-left: 24px;
    width: 252px;
}

#colophon nav ul {
    margin: 0px 0px 24px;
}

#colophon a, #colophon a:visited {
    color: #2983c8;
}
